/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --bg-color: #000028;
  --h1-title-color: #DB00FF;
  --paragraph-bg-color: #FF0070;
  --accent-color: #FF0070;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --accent-color-button-hover: rgba(255, 0, 112, 0.4);
  --main-title-color: #FF0070;
  --description-text-color: #F1B2CE;
  --second-title-color: #000028; 
  --main-font-family: 'IBM Plex mono', sans-serif;
  --bg-img: url(../images/cover-image-dark.png);
}

.theme-dark .rec__container {
  display: inline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --h1-title-color: #DB00FF;
    --paragraph-bg-color: #FF0070;
    --accent-color: #FF0070;
    --accent-color-hover: rgba(255, 0, 112, 0.4);
    --accent-color-button-hover: rgba(255, 0, 112, 0.4);
    --main-title-color: #FF0070;
    --description-text-color: #F1B2CE;
    --second-title-color: #000028; 
    --main-font-family: 'IBM Plex mono', sans-serif;
    --bg-img: url(../images/cover-image-dark.png);
  }
  .rec__container {
    display: inline;
  }
}