/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  color: var(--paragraph-bg-color);
  font-family: var(--main-font-family);
  font-weight: var(--font-weight-regular);
  font-size: 1.125rem;
  line-height: var(--line-height-text);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  position: relative;
  padding: var(--main-gap);
  height: 100vh;     
  min-height: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  right: var(--main-gap);
  top: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  bottom: var(--main-gap);
  left: var(--main-gap);
  transform: rotate(180deg);
}

.rec__container {
  position: absolute;
  font-style: normal;
  color: var(--paragraph-bg-color);
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  line-height: 25px;
  right: var(--main-gap);
  top: var(--main-gap);
}

.rec__container::after {
  content: "";
  background-color: var(--paragraph-bg-color);
  display: inline-block;
  box-shadow: 0 0 4px 2px var(--paragraph-bg-color);
  border-radius: 50%;
  margin-inline: 9px;
  inline-size: 9px;
  block-size: 9px;
  margin-block-end: 2px;
}

.header__theme-menu-list {
  margin-block-start: 64px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: end;
  gap: var(--main-gap);
}

.header__theme-menu-item {
  line-height: 23.4px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--accent-color-button-hover);
  padding-inline: 12px;
  padding-block-end: 4px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button {
  font-size: var(--line-height-text);
  line-height: var(--line-height-text);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  display: inline-block;
  background-color: transparent;
  color: var(--accent-color);
  padding-inline: 13px;
  padding-block-end: 5px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.main-title  {
  display: grid;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--paragraph-bg-color);
  color: var(--h1-title-color);
  line-height: 95.7px;
}

.paragraph__container {
  margin-block-start: 55px;
  align-content: center;
  color: var(--second-title-color);
  height: fit-content;
}

.title-decor {
  background-color: var(--paragraph-bg-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  color: var(--second-title-color);
}

.section {
  display: grid;
  width: fit-content;
  padding: var(--main-gap);
  margin-block-start: 29px;
  gap: 50px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.minor-title {
  font-size: var(--line-height-text);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  color: var(--main-title-color);
}

.post-minor-title {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
}

.post-minor-title-regular {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-regular);
}

.post-minor-description {
  margin-block-start: 10px;
  color: var(--description-text-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-regular);
}

.description__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--paragraph-bg-color);
}

.description__link:hover {
  border-bottom: 1px solid var(--description-text-color);
}

.description__link:focus {
  outline: none;
}

.description__link:focus-visible {
  outline: 1px solid var(--description-text-color);
}

.section__list {
  display: grid;
  gap: 20px;
}

.minor-title__last-of-type {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  margin-block-end: 10px;
}

.gallery {
  margin-block-start: -20px;
  display: grid;
  gap: 10px;
  height: fit-content;
  justify-content: center;
}

.gallery__items {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-block-start: 30px;
  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 100vh;     
  min-height: 668px;
  padding: var(--main-gap);
}

.footer__container {
  display: grid;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--paragraph-bg-color);
  color: var(--h1-title-color);
  line-height: 95.7px;
}


@media (min-width: 768px) {

  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .main-title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .decorated-zone::before {
    right: var(--decorated-gap);
    top: var(--decorated-gap);
  }
  
  .decorated-zone::after {
    bottom: var(--decorated-gap);
    left: var(--decorated-gap);
  }
  
  .rec__container {
    right: var(--decorated-gap);
    top: var(--decorated-gap);
  }

  .header__theme-menu-list {
    margin-block-start: 170px;
    gap: var(--main-gap);
  }

  .paragraph__container {
    margin-block-start: 165px;
    justify-self: end;
    max-width: 50%;
  }

  .section {
    margin-block-start: 40px;
    padding: 20px;
    gap: 80px;
  }

  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section-why .card:last-of-type {
    grid-column: 2/2;
  }

  .minor-title {
    width: 100%;
    max-width: 236px;
  }

  .post-minor-title {
    margin-block-start: 0px;
    max-height: 25%;
  }

  .section__list {
    margin-block-start: -70px;
    grid-column: 2/3;
  }

  .minor-title__last-of-type {
    margin: 0;
  }

  .gallery {
    margin-block-start: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__item__sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__item__ice-cream {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }

  .gallery__item__tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__item__books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item__street {
    grid-column: 2 / 4;
    grid-row: 3 / 3;
  }

  .footer {
    padding: 20px;
    margin-block-start: 40px;
    min-height: 1024px;
  }

  .footer__container {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }
  
  .main-title {
    line-height: 129.525px;
    margin-block-start: 5px;
  }

  .header__theme-menu-list {
    margin-block-start: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .paragraph__container {
    margin-block-start: 110px;
    align-self: flex-start;
  } 

  .section-why {
    grid-template-columns: 1fr 2.06fr;
  }

  .section-concentrate {
    display: grid;
    grid-template-columns: 1fr 2.06fr;
  }

  .section-causes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content 1fr;
  }

  .section-causes .card:first-of-type{
    grid-column: 1/2;
  }

  .minor-title {
    max-width: 315px;
  }

  .post-minor-title {
    max-height: 35%;
  }

  .section__list {
    margin-block-start: -50px;;
  }

  .footer {
    min-height : 768px;
  }
}